redis:
  image: redis:latest
  ports:
    - "6379:6379"
mongo:
  image: mongo:latest
  ports:
    - "27017:27017"
rabbitmq:
  image: rabbitmq:3-management
  ports:
    - "5672:5672"
    - "15672:15672"
