version: '3.7'

services:
  redis:
    image: redis:5-alpine@sha256:a04b57e05b784a406bc818f6b450233328c4115a1e1f104d84ce916eb1583925
    ports:
      - "6379:6379"

  mongo:
    image: mongo:3.6.9-stretch@sha256:c93e92e4b70d9ec78f1253a7f3f5df1ff074d04aa3d545a73ed508e74962ffaf
    ports:
      - "27017:27017"

  rabbitmq:
    image: rabbitmq:3.9.13-management-alpine@sha256:4b3a3d9bc1813ab5007c634b3ef9c1264808614ae6e8cc90b64fd14976535688
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_VHOST: db

  postgres:
    image: postgres:12.10-alpine@sha256:b5da30d2ba744fe890fa18695e201cea1366491be287a74b8d7709da8a5b9304
    ports:
      - "5432:5432"
    environment:
      LC_ALL: C.UTF-8
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: db

  postgres-kong:
    image: postgres:12.10@sha256:f94f4b7ac0ccd4d1b079e7035c21987712d4ee7f650f32a7049e38f4e46aca71
    environment:
      POSTGRES_USER: kong
      POSTGRES_DB: kong
      POSTGRES_PASSWORD: secret
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  kong-migration:
    image: kong:2.3.3@sha256:0c530f22b7ac433f3934af9b1fa62abd5c3210db6f84dcdd7616abc6872a92a3
    depends_on:
      - postgres-kong
    environment:
      - KONG_DATABASE=postgres
      - KONG_PG_HOST=postgres-kong
      - KONG_PG_PASSWORD=secret
    command: kong migrations bootstrap && kong migrations up
    restart: on-failure

  kong:
    image: kong:2.3.3@sha256:0c530f22b7ac433f3934af9b1fa62abd5c3210db6f84dcdd7616abc6872a92a3
    depends_on:
      - postgres-kong
      - kong-migration
    environment:
      - KONG_DATABASE=postgres
      - KONG_PG_HOST=postgres-kong
      - KONG_PG_PASSWORD=secret
      - KONG_PG_DATABASE=kong
      - KONG_PROXY_ACCESS_LOG=/dev/stdout
      - KONG_PROXY_ERROR_LOG=/dev/stderr
      - KONG_ADMIN_LISTEN=0.0.0.0:8001
    ports:
      - "80:8000"
      - "443:8443"
      - "8001:8001"
    restart: on-failure
    healthcheck:
      test: ["CMD-SHELL", "curl -I -s -L http://127.0.0.1:8000 || exit 1"]
      interval: 5s
      retries: 10

  kong-ui:
    image: pantsel/konga@sha256:c8172b75607d06d83d917387a2f4d95b9b855f64063ee60db8e6f1a1c97b8abf
    depends_on:
      - postgres-kong
      - kong
    environment:
      - DB_ADAPTER=postgres
      - DB_URI=postgres://admin:postgres@postgres/kong_ui
      - HOST=0.0.0.0
      - NODE_ENV=development
      - NO_AUTH=true
      - PORT=8000
    ports:
      - "8002:8000"

networks:
  default:
    name: cloudbuild
